<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <link rel="shortcut icon" href="{{ '/assets/img/favicon.ico' | relative_url }}" type="image/x-icon">
  <link rel="icon" href="{{ '/assets/img/favicon.ico' | relative_url }}" type="image/x-icon">
  <link href="{{ '/feed.xml' | relative_url }}" rel="alternate" type="application/atom+xml">
  <link rel="canonical" href="{{ page.url | absolute_url }}">
  <link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}">
  {% if site.google_analytics %}{% include google_analytics.html %}{% endif %}
</head>

<body>
