vti_encoding:SR|utf8-nl
map.gif:viejo.htm
mailto\:guicaro007@correoweb.com:vistas.htm
mapa_bonito2.gif:viejo.htm
bball.class:frog.htm
mapa.htm:viejo.htm
http\://mexico.udg.mx/cocina/postres/calaveras.html:analisis.htm
